@import '@fontsource/fira-mono';

html {
    background-color: #FFFBF0;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFBF0;
    padding: 0;
    margin: 0;
}

/* Header */

nav {
    font-size: clamp(1.5rem, 2vw, 2.5rem); 
    font-weight: 600;
}

#logo {
    width: 10vw;
}

.banner-image{
    width: 100%;
}

@media (max-width: 768px) {
    .banner-image {
        height: 20vw;
    }
}

#logo-gap {
    width: 15vw;
}

.nav a {
    font-size: clamp(0.5rem, 1.1em, 2.5rem);
    color: black;
    text-decoration: none;
}

.banner-links{
    position: absolute; 
    top: 40%; 
    text-decoration: none;
    transform: translateY(-50%); 
    margin: 0; 
    color: white; 
    font-weight: 600; 
    font-size: 120%
}